<ion-tabs  >  
  <ion-tab-bar slot="bottom"  mode="ios">
    <ion-tab-button tab="productListPage" style="  margin-top: 5px;">
      <ion-icon name="flash" mode="ios"  ></ion-icon>
      <ion-label style="font-size: 75%" >Lista de Productos</ion-label>
    </ion-tab-button>

    

    <ion-tab-button tab="buyListPage"mode="ios">
      <ion-icon name="send" mode="ios"></ion-icon>
      <ion-label style="font-size: 75%;" >Lista de Compras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="adminPage" mode="ios" style="display: none;" id="admin">
      <ion-icon name="create" mode="ios"></ion-icon>
      <ion-label style="font-size: 75%;" >Admin</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
