<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/warehouses-list"></ion-back-button>
    </ion-buttons>
    <ion-title class="titles">Añadir almacen</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form (ngSubmit)="addForm()" [formGroup]="Form">
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Direccion del almacen </ion-label>
            <ion-input type="text" formControlName="address" name="address"></ion-input>
          </ion-item>
          <div class="alert-danger" *ngIf="address.invalid && (address.dirty || address.touched)">
            <div class=" container-error-message" *ngIf="address.hasError('required')">
              * La direccion es obligatoria
            </div>
            <div class="container-error-message" *ngIf="address.hasError('minlength')">
              * Direccion minimo 5 caracteres
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Numero de telefono: </ion-label>
            <ion-input inputmode="tel" formControlName="phoneNumber" name="phoneNumber"></ion-input>
          </ion-item>
          <div class="alert-danger" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
            <div class=" container-error-message" *ngIf="phoneNumber.hasError('required')">
              * El numero es obligatorio
            </div>
            <div class="container-error-message" *ngIf="phoneNumber.hasError('min')">
              * Telefono minimo 5 numeros
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" size="small" expand="block" expand="block">Crear
            Almacen</ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>