<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/adminTasks"></ion-back-button>
    </ion-buttons>
    <ion-title class="titles">Detalles del producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{task_title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label><b>Contenido</b><br>{{task_content}}</ion-label>
    </ion-card-content>
  </ion-card>


</ion-content>