.md.inputNumber {
  position: relative;
  margin-left: 32%;
  margin-top: -0.3%;
}

.md#inputNumberLabel {
  position: absolute;
  margin-top: -5.5%;
}

.ios.inputNumber {
  position: relative;
  margin-left: 38%;
  margin-top: 4%;
}

.ios#inputNumberLabel {
  position: absolute;
  margin-top: -5.5%;
}

#cantBuy {
  display: none;
}


#addressError{
  display: none;
  color: red;
  font-size:80%;
  
}

